@media (max-width: 1100px) {
  .title_events {
    padding-top: 6vh;
    padding-bottom: 2vh;
  }
}
@media (max-width: 912px) {
  .content {
    width: 55vw;
  }
  .title {
    font-size: 36px;
  }
  .subtitle {
    font-size: 16px;
    width: 100%;
  }
  form {
    width: 360px;
    height: 41px;
    button {
      width: 33px;
      height: 33px;
      margin-right: 4px;
    }
    input {
      width: 205px;
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .blob {
      max-width: 48%;
    }
  }
  .logo {
    width: 128px;
    height: 40px;
  }
  .content {
    width: 90vw;
    .subtitle {
      width: 90%;
    }
  }
  .button_event {
    margin-bottom: 20vh;
  }
  form {
    width: 280px;
    height: 41px;
    input {
      width: 205px;
      font-size: 14px;
    }
  }
}
@media (max-height: 550px) {
  .subtitle {
    margin-top: 1vh;
  }
  .button_event {
    height: 40px;
  }
  .logo {
    height: 40px;
    margin-bottom: 1vh;
  }
}

@media (max-width: 1000px) {
  .underside {
    flex-direction: column;
    justify-content: space-around;
  }
  .other {
    position: static;
    &__text {
      font-size: 16px;
    }
  }
}
